# 自动检测文本文件并执行 LF 行尾标准化
* text=auto

# 明确声明应该被视为文本的文件类型
*.js text
*.json text
*.html text
*.css text
*.md text
*.toml text

# 声明二进制文件，不应该被修改
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary 